/Workshop5/nbproject/private/
/Workshop5/dist/
/Workshop5/build/
/Workshop6/nbproject/private/
/JavaApplication13/nbproject/private/
/Workshop4/build/
/Workshop4/dist/
/JavaApplication1/nbproject/private/
/HRManagement/nbproject/private/
/HealthHospital/nbproject/private/
/HealthHospital/build/
/HealthHospital/dist/
/Validation/nbproject/private/
/CirclePosition/nbproject/private/
/CircleRelationship/nbproject/private/
/CircleRelationship/build/
/CircleRelationship/dist/
